<div class="container-flex">
  <!-- Prévisualisation à gauche -->
  <div class="preview-container">
    <app-bulletin-preview [bulletinData]="bulletinCalcule" [employeData]="selectedEmploye"></app-bulletin-preview>

  </div>

  <!-- Formulaire à droite -->
  <div class="form-container">
    <form [formGroup]="formGroup" (submit)="submit($event)">




      <div class="form-field">
        <label for="heuresSup">Heures Sup</label>
        <input id="heuresSup" name="heuresSup" type="number" formControlName="heuresSup">
        @if (isFieldValid('heuresSup')) {
          @if (formGroup.get('heuresSup')?.hasError('required')) {
            <div class="error">Ce champ est requis</div>
          }
          @if(formGroup.get('heuresSup')?.hasError('min')) {
            <div class="error">Ce champ doit être supérieur à 0</div>
          }
        }
      </div>



      <div class="form-field">
        <label for="heuresFerie">Heures Férié</label>
        <input id="heuresFerie" name="heuresFerie" type="number" formControlName="heuresFerie">
        @if (isFieldValid('heuresFerie')) {
          @if (formGroup.get('heuresFerie')?.hasError('required')) {
            <div class="error">Ce champ est requis</div>
          }
          @if(formGroup.get('heuresFerie')?.hasError('min')) {
            <div class="error">Ce champ doit être supérieur à 0</div>
          }
        }
      </div>

      <div class="form-field">
        <label for="heuresNuit">Heures Nuit</label>
        <input id="heuresNuit" name="heuresNuit" type="number" formControlName="heuresNuit">
        @if (isFieldValid('heuresNuit')) {
          @if (formGroup.get('heuresNuit')?.hasError('required')) {
            <div class="error">Ce champ est requis</div>
          }
          @if(formGroup.get('heuresNuit')?.hasError('min')) {
            <div class="error">Ce champ doit être supérieur à 0</div>
          }
        }
      </div>


       <!-- <div class="form-field">
        <label for="avancesSurSalaires">Avances Sur Salaires</label>
        <input id="avancesSurSalaires" name="avancesSurSalaires" type="number" formControlName="avancesSurSalaires">
        @if (isFieldValid('avancesSurSalaires')) {
          @if (formGroup.get('avancesSurSalaires')?.hasError('required')) {
            <div class="error">Ce champ est requis</div>
          }
          @if(formGroup.get('avancesSurSalaires')?.hasError('min')) {
            <div class="error">Ce champ doit être supérieur à 0</div>
          }
        }
      </div> -->

       <div class="form-field">
        <label for="datePaiement">Date de Paiement</label>
        <input id="datePaiement" name="datePaiement" type="date" formControlName="datePaiement">
        @if (isFieldValid('datePaiement')) {
          @if (formGroup.get('datePaiement')?.hasError('required')) {
            <div class="error">Ce champ est requis</div>
          }
          @if(formGroup.get('datePaiement')?.hasError('futureDate')) {
            <div class="error">Ce champ doit ne doit pas etre dans le futur</div>
          }
        }
      </div>

      <div class="mb-3">
            <label for="methodePaiement" class="form-label"> Methode de Paiement <span class="text-danger">*</span></label>
            <select id="methodePaiement" formControlName="methodePaiement" class="form-select"
                    [class.is-invalid]="isFieldValid('methodePaiement')">
              <option value="">Sélectionner un statut</option>
              @for (methodePaiement of methodePaiementOptions; track methodePaiement) {
                <option [value]="methodePaiement">{{ methodePaiement }}</option>
              }
            </select>
            @if (isFieldValid(' methodePaiement')) {
              <div class="error">Ce champ est requis </div>
            }
    </div>



      <div class="form-actions">

          <button type="submit" class="btn-calculate" [disabled]="formGroup.invalid">
          {{ isBulletinCalculated ? 'Sauvegarder le Bulletin' : 'Calculer le Bulletin' }}
        </button>
        <button type="button" class="btn-reset" (click)="resetForm()">
          Réinitialiser
        </button>
      </div>
    </form>
  </div>
</div>

